In [1]:
import pandas as pd
import numpy as np

In [2]:
ser = pd.Series([0, 1, 2, np.NaN, 9], index=['red', 'blue', 'yellow', 'white', 'green'])
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [3]:
ser['white'] = None
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [4]:
ser.dropna()

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [5]:
ser[ser.notnull()]

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [6]:
frame3 = pd.DataFrame([[6, np.nan, 6], [np.nan, np.nan, np.nan], [2, np.nan, 5]],
                     index=['blue', 'green', 'red'],
                     columns=['ball', 'mug', 'pen'])
frame3

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

In [8]:
frame3.dropna(how='all')

      ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

In [10]:
frame3.fillna(0)

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  0.0  0.0
red     2.0  0.0  5.0

In [11]:
frame3.fillna({'ball':1, "mug":0, "pen":99})

       ball  mug   pen
blue    6.0  0.0   6.0
green   1.0  0.0  99.0
red     2.0  0.0   5.0

In [12]:
mser = pd.Series(np.random.rand(8),
                index=[['white', 'white', 'white', 'blue', 'blue', 'red', 'red', 'red'],
                      ['up', 'down', 'right', 'up', 'down', 'up', 'down', 'left']])
mser

white  up       0.609679
       down     0.913910
       right    0.686388
blue   up       0.869419
       down     0.525737
red    up       0.646451
       down     0.404462
       left     0.430664
dtype: float64

In [15]:
mser.index

MultiIndex(levels=[['blue', 'red', 'white'], ['down', 'left', 'right', 'up']],
           labels=[[2, 2, 2, 0, 0, 1, 1, 1], [3, 0, 2, 3, 0, 3, 0, 1]])

In [16]:
mser['white']

up       0.609679
down     0.913910
right    0.686388
dtype: float64

In [18]:
mser[:, 'up']

white    0.609679
blue     0.869419
red      0.646451
dtype: float64

In [19]:
mser.unstack()

           down      left     right        up
blue   0.525737       NaN       NaN  0.869419
red    0.404462  0.430664       NaN  0.646451
white  0.913910       NaN  0.686388  0.609679

In [22]:
frame = pd.DataFrame(np.arange(16).reshape((4, 4)),
                    index=['red', 'blue', 'yellow', 'white'],
                    columns=['ball', 'pen', 'pencil', 'paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [23]:
frame.stack()

red     ball       0
        pen        1
        pencil     2
        paper      3
blue    ball       4
        pen        5
        pencil     6
        paper      7
yellow  ball       8
        pen        9
        pencil    10
        paper     11
white   ball      12
        pen       13
        pencil    14
        paper     15
dtype: int64

In [25]:
mframe = pd.DataFrame(np.random.randn(16).reshape((4, 4)),
                     index=[['white', 'white', 'red', 'red'], ['up', 'down', 'up', 'down']],
                     columns=[['pen', 'pen', 'paper', 'paper'], [1, 2, 1, 2]])
mframe

                 pen               paper
                   1         2         1         2
white up   -0.415704  1.073684 -1.569441 -0.036622
      down -1.139063 -0.171509 -1.305273  1.757089
red   up    1.293076 -0.211858 -0.174162  0.006430
      down -0.086777  0.011711  0.602517 -0.079991

In [26]:
mframe.columns.names = ['objects', 'id']

In [27]:
mframe.index.names = ['colors', 'status']

In [29]:
print(mframe)

objects             pen               paper
id                    1         2         1         2
colors status
white  up     -0.415704  1.073684 -1.569441 -0.036622
       down   -1.139063 -0.171509 -1.305273  1.757089
red    up      1.293076 -0.211858 -0.174162  0.006430
       down   -0.086777  0.011711  0.602517 -0.079991

In [30]:
mframe.swaplevel('colors', 'status')

objects             pen               paper
id                    1         2         1         2
status colors
up     white  -0.415704  1.073684 -1.569441 -0.036622
down   white  -1.139063 -0.171509 -1.305273  1.757089
up     red     1.293076 -0.211858 -0.174162  0.006430
down   red    -0.086777  0.011711  0.602517 -0.079991

In [32]:
mframe.sortlevel('colors')

/home/olivercqc/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

objects             pen               paper
id                    1         2         1         2
colors status
red    down   -0.086777  0.011711  0.602517 -0.079991
       up      1.293076 -0.211858 -0.174162  0.006430
white  down   -1.139063 -0.171509 -1.305273  1.757089
       up     -0.415704  1.073684 -1.569441 -0.036622

In [33]:
mframe.sort_index(level='colors')

objects             pen               paper
id                    1         2         1         2
colors status
red    down   -0.086777  0.011711  0.602517 -0.079991
       up      1.293076 -0.211858 -0.174162  0.006430
white  down   -1.139063 -0.171509 -1.305273  1.757089
       up     -0.415704  1.073684 -1.569441 -0.036622

In [34]:
mframe.sum(level='colors')

objects       pen               paper
id              1         2         1         2
colors
red      1.206299 -0.200147  0.428355 -0.073561
white   -1.554766  0.902175 -2.874715  1.720467

In [35]:
mframe.sum(level='id', axis=1)

id                    1         2
colors status
white  up     -1.985145  1.037062
       down   -2.444336  1.585580
red    up      1.118914 -0.205428
       down    0.515740 -0.068279