In [1]:
import numpy as np
import pandas as pd
s1 = pd.Series(np.random.randn(6), index=list('abcdef'))
s1

a   -0.354041
b    0.286674
c   -1.144354
d   -2.290284
e   -0.299573
f   -0.011348
dtype: float64

In [3]:
s1.loc['b']

0.28667372019035603

In [4]:
s2 = pd.Series(np.random.randn(6), index=[5, 4, 3, 2, 1, 0])
s2

5    0.063622
4   -0.789719
3   -0.916464
2    1.023828
1   -0.440047
0    0.269705
dtype: float64

In [5]:
s2.loc[5]

0.063622356476971106

In [6]:
s1.loc['b':'f']

b    0.286674
c   -1.144354
d   -2.290284
e   -0.299573
f   -0.011348
dtype: float64

In [7]:
s1.loc['b':]

b    0.286674
c   -1.144354
d   -2.290284
e   -0.299573
f   -0.011348
dtype: float64

In [8]:
s1.loc['d':'f'] = 0
s1

a   -0.354041
b    0.286674
c   -1.144354
d    0.000000
e    0.000000
f    0.000000
dtype: float64

In [9]:
df1 = pd.DataFrame(np.random.randn(6, 4), 
                   index=list('abcdef'), 
                   columns=list('ABCD'))
df1

          A         B         C         D
a  0.031419  0.658151  1.069829 -1.366788
b  0.889844 -1.402487  0.183858 -0.037312
c  0.278374 -0.122152  0.429787 -1.251808
d -0.935268 -0.768464 -1.343263 -0.435845
e -0.612629 -1.538650 -1.774796  1.013778
f -1.313907 -0.472731 -1.635683  0.140725

In [10]:
df1.loc[['a', 'b', 'd'], :]

          A         B         C         D
a  0.031419  0.658151  1.069829 -1.366788
b  0.889844 -1.402487  0.183858 -0.037312
d -0.935268 -0.768464 -1.343263 -0.435845

In [11]:
df1.loc['d':, 'A':'C']

          A         B         C
d -0.935268 -0.768464 -1.343263
e -0.612629 -1.538650 -1.774796
f -1.313907 -0.472731 -1.635683

In [12]:
df1.loc['a']

A    0.031419
B    0.658151
C    1.069829
D   -1.366788
Name: a, dtype: float64

In [13]:
df1.xs('a')

A    0.031419
B    0.658151
C    1.069829
D   -1.366788
Name: a, dtype: float64

In [14]:
df1.loc['a'] > 1

A    False
B    False
C     True
D    False
Name: a, dtype: bool

In [15]:
df1.loc[:, df1.loc['a'] > 1]

          C
a  1.069829
b  0.183858
c  0.429787
d -1.343263
e -1.774796
f -1.635683

In [16]:
df1.loc['a', 'A']

0.03141854106892028

In [17]:
df1.at['a', 'A']

0.03141854106892028

In [18]:
s = pd.Series(list('abcde'), index=[0, 3, 2, 5, 4])
s

0    a
3    b
2    c
5    d
4    e
dtype: object

In [19]:
s.sort_index()

0    a
2    c
3    b
4    e
5    d
dtype: object

In [20]:
s.sort_index().loc[1:6]

2    c
3    b
4    e
5    d
dtype: object